[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pyngrok = "*"
matplotlib = "*"
nltk = "*"
pandas = "*"
nrclex = "*"
text2emotion = "*"

[dev-packages]

[requires]
python_version = "3.8"
